@media screen and (max-width:768px) {
    body{
        background: #ffffff;
    }
    .logo{
        width: 30px;
        margin: 10px 0 0 15px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #principal{
        width: 80%;
        margin: 20px auto 0 auto;
    }
   .recebeTexto{
        width: 80%;
        height: 250px;
    }
    .informação{
        margin-top: 5px;
    }
    .evento{
        justify-content: center;
    }
    #button-codificar{
        width: 150px;
    }
    #button-descodificar{
        width: 150px;
    }
    #secundario{
        width: 240px;
        margin: 80px auto 0 auto;
    }
    .imagens-resultado{
        width: 188px;
    }
    #imagem-nop{
        height: 100%;
    }
    #input-resposta{
        width: 80%;
        font-size:20px;
    }
}

@media screen and (min-width:768px) {
    .container{
        margin: 20px 5% 0 5%;
        justify-content: center;
        justify-content: space-around;
        height: 450px;
    }
    .recebeTexto{
        width: 300px;
    }
    .imagens-resultado{
        width: 250px;
        border-radius: 50%;
    }
    #imagem-nop{
        margin-top: 60px;
    }
}

