body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    background: #F3F5FC;
}
.container{
    display: flex;
    margin:10px 15% 0 15% ;
    justify-content: space-between;
}
.logo{
    width: 50px;
    margin: 25px 0 10px 50px;
}
#principal{
    display: flex;
    flex-direction: column;
}
.recebeTexto{
    width: 60vh;
    height: 300px;
    border: none;
    font-size: 30px;
    color:#0A3871;
    background:  #F3F5FC;
}
.informação{
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    color: #495057;
    margin-top: 200px;
}
.evento{
    display: flex;
}
.evento button{
    font-weight: bold;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    margin: 10px 10px 0 0;
    box-shadow: 0px 5px 10px 0 #4040ff;
    transition: border-radius 100ms;
}
.evento button:active{
    border-radius: 100px 0;
    box-shadow: 0px 5px 10px 0 #000000;
}
.evento button:hover{
    transform: scale(1.05);
    transition: transform 200ms;
    text-decoration: underline;
    cursor:pointer;
}
#button-codificar{
    background-color:  #0A3871;
    color: white;
}
#button-descodificar{
    background-color:#8f98ec;
    color:#0A3871;
}
#secundario{
    width: 315px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 32px;
    box-shadow: 0px 10px 32px -8px;
    background: #FFFFFF;
}
.resultado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#imagem-nop {
    width: 300px;
    margin-top: 10px;
}
#imagem-encontrado{
    display: none;
    width: 260px;
    margin-top:50px;
}
#imagem-decodificado{
    display: none;
    width: 260px;
    margin-top:50px;
}
#input-resposta{
    display: none;
    width: 258px;
    height: 60px;
    margin: 10px 0 5px 0;
    text-align: center;
    border:none;
    background: #FFFFFF;
}
#button-copiar{
    display: none;
    margin: 10px 0 15px 0;
    font-weight: bold;
    border-radius: 50px;
    width: 150px;
    height: 30px;
    box-shadow: 0px 5px 10px 0 #000000;
    background-color: #8f98ec;
    color:#0A3871;
    cursor:pointer;
    transition: border-radius 200ms;
}
#button-copiar:hover{
    transform: scale(1.05);
    transition: transform 200ms;
}
#button-copiar:active{
    text-decoration: underline;
    box-shadow: 0px 5px 10px 0 #4040ff;
    border-radius: 100px 0;
}
footer{
    width: 100%;
    height: 200px;
    margin-top: 50px;
    text-align: center;
}
.copyright{
    margin: auto;
}
.links-footer{
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: 190px;
    margin-right: 10px;
}
.link-linkedin{
   margin-right: 10px;
}
.linkedin-imagem, .gitHub-imagem{
    width: 25px;
}
a {
    vertical-align:super;
    padding:0px 0 0px 5px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.imagem-rodape{
    height: 200px;
    width: 100%;
}

@media(min-width: 769px){
    
}
